{% extends 'base.html' %}

{% block content %}
   <h1>Privacy</h1>
   <p>When you log into the website with your WCA-account, all the details associated with your account will be stored by the administators of this website (which is currently a server owned by a Board member of the Danish Speedcubing Association).
   Every time you log in, your data will once again be pulled from the WCA website and updated in case of conflicting information. 
   Additionally, all of your registration data is stored, along with any venue information you create if you are a Delegate/organiser for the competition.
    All of this data is necessary for us to successfully port your registration back onto the WCA website.
   </p>
   <br>
   <p>If you want your data removed from the website please contact degdal@worldcubeassociation.org.</p>

{% endblock %}