{% extends 'base.html' %}

{% block extrahead %}
<script>
  function confirmSubmission(event) {
      var confirmation = confirm("You are about to change your registration. Pressing `ok` remove your registration from the old venue. Do you want to proceed?");
      if (!confirmation) {
          event.preventDefault();
      }
  }
</script>
{% endblock %}

{% block content %}

<a href="/competitions/{{competition.id}}"><h1>{{competition.name}}</h1></a>

{% if registration%}
  <p>You are already registered for {{registration.venues}} with a status of {{registration.status}}.

    {{"The venue requires the delegate to manually accept your registration." if not registration.venues.accept_registrations_automatically}}

  </p>
<p>Submitting the form below will change your registration.</p>
<hr>
{% endif %}

<p>Registration opens <b>{{competition.registration_open}}</b> UTC. Registration closes <b>{{competition.registration_close}}</b> UTC.</p>

{% if opens_in <= 0 and closes_in >= 0%}

<p>Registration closes in {{closes_in_formatted}}.</p>

  <p>Choose your venue below</p>

  <form method="post" action="/competitions/{{competition.id}}/register" {{'onsubmit=confirmSubmission(event)' if registration and registration.status != 'deleted'}}>
      <select name="venues">
        <option value=""></option>
        {% for venue in venues %}
          <option value="{{venue.id}}"">{{venue}}</option>
        {% endfor %}
      </select>
      <p></p>
      <button type="submit">Register</button>
    </form>

{% elif opens_in > 0 %}

<p>Registration opens in {{closes_in_formatted}}.</p>

{% else %}

<p>Registtration has already closed.</p>

{% endif %}

<hr>
{% if registration %}
<form method="post" action="/competitions/{{competition.id}}/register/delete" {{'onsubmit=confirmSubmission(event)' if registration.status != 'deleted'}}>
  <button type="submit">Cancel my registration</button>
</form>
{% endif %}

{% endblock %}