{% extends 'base.html' %}

{% block content %}

<a href="/competitions/{{competition.id}}"><h1>{{competition.name}}</h1></a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="medlem_info flash_info">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% for venue in venues %}
    {% if admin %}
        <p>
            <a href="/competitions/{{competition.id}}/venues/{{venue.id}}/manager">{{venue}}</a>
        </p>
    {% else %}
        <p>{{venue}}</p>
    {% endif %}
    <p>Delegates: {{",".join(delegates[loop.index0])}}</p>
    <p>Competitor limit: {{venue.competitor_limit}}</p>
    <p>Address: {{venue.address}}</p>
    <p>Timezone: UTC{{venue.timezone}}</p>
    <p>Registration fee and details: {{venue.registration_fee_text}}</p>
    <p>Registrations for this venue {{"requires manual acceptance by the delegate." if not venue.accept_registrations_automatically else "are accepted automatically if there is space for it."}}</p>
    <table class="centered">
        <tr>
            <th>Name</th>
            <th>Registration status</th>
        </tr>
    {% for registration in registrations[loop.index0] %}
            <tr>
                <td >{{ registration.users.name }}</td>
                <td >{{ registration.status }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>

{% endfor %}

{% endblock %}